html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Supprime les scrollbars */
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-jetbrains-mono);
  font-weight: 600;
}
